:root {
	--slide-height: 24rem;
	--slide-width: 26rem;
}

.carousel {
	position: relative;
	margin: 0 auto;
	perspective: 62.5rem;

	width: 100%;
	height: calc(var(--slide-height) * 1.5);
}

.carousel__container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	transform-style: preserve-3d;
	transition: transform 1s;
	pointer-events: none;
}

.carousel__slide {
	position: absolute;
	transition:
		transform 1s,
		opacity 1s;

	left: calc(50% - (var(--slide-width) / 2));
	height: var(--slide-height);
	width: var(--slide-width);
	box-shadow:
		0 0 1px 0 black inset,
		0 0 1px 0 black;
	border-radius: 0.5rem;
	overflow: hidden;
	pointer-events: all;
}

.carousel__slide-overlay {
	color: #fff;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	position: absolute;
	inset: 0 0 0 0;
	opacity: 0;
	transition: opacity 0.35s ease-in-out;
	background-color: rgba(0, 0, 0, 0.7);
	user-select: none;
}

.carousel__slide:hover .carousel__slide-overlay {
	opacity: 1;
}
